################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WindowsExperiments/v17
/.vs/WindowsExperiments
/cpp/samples/SimpleWindow/Debug
/Debug
/x64/Debug/cpp
